---
export const prerender = true;
import Head from '../../layouts/Head.astro';
import Navbar from '../../layouts/Navbar.svelte';
import Carousel from '../../components/Carousel.svelte';
import type { image } from '../../components/types';

export function getStaticPaths() {
  return [{ params: { id: 'clifford' } }, { params: { id: 'rover' } }, { params: { id: 'spot' } }];
}

const images: image[] = [
  {
    src: '/images/h3.png',
    alt: 'Hikari3.ch Homepage',
  },
  {
    src: '/images/h3.png',
    alt: 'Hikari3.ch Homepage',
  },
];

const { id } = Astro.params;
---

<html lang="en">
  <Head title={`arithefirst | ${id}`} description="tbd" />
  <body>
    <Navbar />
    <main class="custom-height bg-red-500 mt-[84px] grid w1-full grid-cols-2 p-2">
      <Carousel images={images} className="size-full" client:load />
    </main>
    <style>
      .custom-height {
        height: calc(100vh - 84px);
      }
    </style>
  </body>
</html>
