---
export const prerender = true;
import Head from '../../layouts/Head.astro';
import Navbar from '../../layouts/Navbar.svelte';

export function getStaticPaths() {
  return [{ params: { id: 'clifford' } }, { params: { id: 'rover' } }, { params: { id: 'spot' } }];
}

const { id } = Astro.params;
---

<html lang="en">
  <Head title={`arithefirst | ${id}`} description="tbd" />
  <body>
    <Navbar />
  </body>
</html>
