---
// Layouts
import Head from '../layouts/Head.astro';
import Navbar from '../layouts/Navbar.svelte';
// Components
import Hero from '../components/Hero.astro';
import Techstack from '../components/Techstack.svelte';
import Projects from '../components/Projects.astro';
---

<html lang="en" class="overscroll-y-none">
  <Head title="arithefirst" description="The portfolio website for April Hall (arithefirst)">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </Head>
  <body>
    <Navbar />
    <Hero />
    <main>
      <Techstack client:visible />
      <Projects />
      <div class="pb-8"></div>
    </main>
  </body>
</html>
