---
import { Image } from 'astro:assets';
import pfpPng from '../../public/images/pfp.png';
import LegacySite from '../layouts/Legacy.svelte';
import Head from '../layouts/Head.astro';
---

<html lang="en">
  <Head title="arithefirst" description="arithefirst's Website">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="robots" content="noindex" />
  </Head>
  <body>
    <LegacySite client:load>
      <Image
        class="mx-auto aspect-square w-1/2 rounded-[10px] shadow-legacy-img"
        src={pfpPng}
        alt="cat from 2023 steam summer sale"
      />
    </LegacySite>
  </body>
</html>
