---
import LegacySite from '../layouts/Legacy.svelte';
import Head from '../layouts/Head.astro';
---

<html lang="en">
  <Head title="arithefirst" description="arithefirst's Website">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="robots" content="noindex" />
  </Head>
  <body>
    <LegacySite />
  </body>
</html>
