---
import Head from './Head.astro';
let { msgFull } = Astro.props;
const { code, msgShort } = Astro.props;
msgFull = !msgFull ? msgShort : msgFull;
---

<html>
  <Head title={msgShort} description={msgFull} />
  <body class="h-screen w-screen">
    <div class="h0screen absolute left-1/2 top-1/2 z-10 w-screen -translate-x-1/2 -translate-y-1/2 text-center">
      <h1 class="text-[200px] font-extrabold leading-none text-accent">{code}</h1>
      <h2 class="2xl font-bold text-primary">{msgFull}</h2>
      <a href="/" class="btn btn-accent btn-sm mt-3 px-4">Go Home</a>
    </div>
  </body>
</html>
