---
import SpeedInsights from '@vercel/speed-insights/astro';
import Analytics from '@vercel/analytics/astro';
const { title, description } = Astro.props;
---

<head>
  <title>{title}</title>
  <meta charset="utf-8" />
  <meta name="darkreader-lock" />
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <link rel="icon" href="/images/pfp-circle.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Slot -->
  <slot />
</head>

<Analytics />
<SpeedInsights />
